// mixin font

@mixin fontInfor($fsize, $fweight) {
  font-size: $fsize;
  font-weight: $fweight;
}

@mixin titleSpacing {
  padding: 27px 0;
  text-align: center;
  .title {
    @include inforTitle(40px, 500, 1.2, 1px);
  }
}

@mixin inforTitle($fsize, $fweight, $lheight, $lspacing) {
  font-size: $fsize;
  font-weight: $fweight;
  line-height: $lheight;
  letter-spacing: $lspacing;
}
